---
import MainLayout from '@layouts/MainLayout.astro'
import Header from '@components/Header/Header.astro'
import Intro from '@components/Intro/Intro.astro'
import LatestPosts from '@components/LatestPosts/LatestPosts.astro'
---

<MainLayout>
  <Header />
  <main class="flex flex-col gap-20">
    <Intro />
    <LatestPosts />
  </main>
</MainLayout>