---
import MainLayout from '@layouts/MainLayout.astro'
import Intro from '@components/Intro/Intro.astro'
import Header from '@components/Header/Header.astro'
---

<MainLayout>
  <Header />
  <main>
    <Intro />
  </main>
</MainLayout>